%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    border:1px solid;
  
    &:hover {
      transform: scale(.98);
    }
  }
  
  .btn-primary {
    @extend %btn;
    background-color:lighten($primary-color, 10%);
    color: $secondary-color;
  }
  
  .btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
    color: $primary-color;
  }

  .btn-ticket{
    width: 401px;
    min-height: 80px;
    background-color: $tertiary-color;
    color: $primary-color;
    border-style: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .btn-covid{    
    min-width: 260px;
    padding: 22px 0px;
    margin-bottom: 180px;
    font-size: 24px;
    border-color: $tertiary-color;
    border-style: dashed;
    color: $tertiary-color;
    background-color: #00000000;
  }

  .btn-mobile-covid {
    width: 80vw;
    height: 64px;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 24px;
    border-color: $tertiary-color;
    border-style: dashed;
    color: $tertiary-color;
    background-color: #00000000;
  }

  .btn-kubeflex {
    border: solid 1px #b89767;
    width: 164px;
    height: 48px;
    color: $tertiary-color;
    font-size: 15px;
  }