.footer-main-container{
  display: flex;
  height: 100%;
}

.footer-info-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}



.footer-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  padding-bottom: 20px;

}

.footer-logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.footer-logo-image{
  height: 70px;
}

.footer-logo-text{
  font-size: 48px;
}

.footer-some{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.fa-tripadvisor,
.fa-linkedin,
.fa-youtube,
.fa-instagram-square{
  padding-right: 26px;
}



.footer-openinghours{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  padding-bottom: 26px;
}

.footer-opening-hrs-title,
.footer-address-title {
  font-weight: 600;
}

.footer-address{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.footer-address-detail {
  display: flex;
}

.fas {
  padding-right: 30px;
}

.footer-subscription {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  // width: 100%;
  flex-direction: column;
}

.footer-subs-title {
  font-weight: 600;
  font-size: 24px;
}

form {
  display: flex;
  width: 100%;
  input{
      overflow: hidden;
      height: 50px;
      font-size: 16px;
      &[type=email] {
        margin-bottom: 15px;
        width: 100%;
        float: left;
        padding: 15px 20px;
        text-align: left;
        border: 1px solid lighten($tertiary-color, 50%);
        background-color: $secondary-color;
        color: $primary-color;
              &:focus {
        border-color: $tertiary-color;
      }
    }

    &[type=submit]{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $tertiary-color;
      color: $primary-color;
      border: 1px solid $tertiary-color;
    }


  }
}