// _mobile.scss
@media(max-width: 1024px) {
 
  @for $i from 1 through $grid-columns {
    .outer-col-#{$i} {
      width:100vw;      
      flex-direction: column; 
      
    }
  }

  @for $i from 1 through $grid-columns {
    .inner-col-#{$i} {
      width:100vw;     
      flex-direction: column; 
    }
  }

  body {
    width:100%;
    max-width:100%;
    background-color: $secondary-color;
  }

  #reverse-column{
    display: flex;
    flex-direction: column-reverse;
}      

  header{
    background-color: $secondary-color;
    height: 56px;
     .info-bar {
       width: 80vw;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       .logo-container {
         display: flex;
         flex-direction: row;
         align-items: center;
         width: 50vw;
        .logo {
          display: none;
        }
        .burgermenu{
          display: flex;
          width: 27px;
          height: 18px;
        }
        .mobile-logo{
          width: 30px;
          margin-left: 25px;
          display: flex;
          img{
            width: 40px;
            }
        }
       }
       
      .top-info-panel{
        width: 40px;
        .titles{
          display: none;
        }
        .content {
          display: none;
        }
        .top-info-panel-language{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 24px;
          color: $primary-color;
        }
        img {
          height: 9px;
          width: 18px;
          margin-bottom: 5px;
        }
      }
    }
    .nav-bar {
      display: none;
    }
    .nav-menu-item {
      display: none;
    }
  }
  .hero-section{
    display: flex;
    height: 925px;
    justify-content: flex-start;
    .hero-info{        
      align-items: center;
      margin-bottom: 0px;
    video{
      position: static;
      height: 65vw;
      filter: brightness(100%);
    }
    .btn-covid {
     display: none;
    }
    .btn-mobile-covid{
     display: inline-block;
    }

    .hero-info-panel{
      max-height: 400px;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
      max-width: 80vw;
      h1{
        font-size: 50px;
      }
      .btn-ticket {
        min-height: 64px;
        width: 100%;
      }
    }
  }
  }

  .box-container {
    height: 416px;
    margin: 10px 0px;
    width: 80vw;
  }
  .section-multiple-image{
    display:flex;
    justify-content: center;
    height: 1514px;
    padding-bottom: 20px;
    .main-container{
      max-height: 90%;
      align-items: center;
      justify-content: space-between;
    }
    .box-header{
      align-items: flex-start;
      height: 80px;
      width: 80vw;
      padding-top: 0px;
      padding-bottom: 0px;
      h1{
        font-size: 32px;
      }
      .view-all{
        display: none;
      }
    
  }
    


  }

  .section-single-image {
    height: fit-content;
    padding: 30px 0px;
    .main-container{ 
      height: min-content;
      img{
      min-height: 200px;
      width: 80vw;
    }
    .row-content{  
     align-items: center;
      width: 80vw;     
      padding: 15px;
      h1{
        font-size: 28px;
        font-weight: 600;
      }
      p{
        font-size: 16px;
        padding-bottom: 5px;
        font-weight: 500;
      }
    }
  }
  }
  .footer-section{
    height: fit-content;
    .footer-main-container{
      padding: 20px 0px;
      width: 80vw;
      .footer-info-section {
        width: 80vw;
        .footer-logo {
          width: 80vw;
        }
        .footer-openinghours {
          width: 80vw;
        }
        .footer-address{
          width: 80vw;
        }
      }
      .footer-subscription{
        width: 80vw;
      }
    }
  }
}