@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.outer-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 13px;
}

.primary-color {
  background-color: #f5f5f5;
}

.secondary-color {
  background-color: #000000;
}

.tertiary-color {
  background-color: #b89767;
}

.accent-color {
  background-color: #2de9e6;
}

.error-color {
  background-color: #ff7011;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  color: #000000;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark {
  background-color: #000000;
  color: #c1c1c1;
}

body.dark .col-1 {
  background-color: #444;
}

body.dark .col-2 {
  background-color: #444;
}

body.dark .col-3 {
  background-color: #444;
}

body.dark .col-4 {
  background-color: #444;
}

body.dark .col-5 {
  background-color: #444;
}

body.dark .col-6 {
  background-color: #444;
}

body.dark .col-7 {
  background-color: #444;
}

body.dark .col-8 {
  background-color: #444;
}

body.dark .col-9 {
  background-color: #444;
}

body.dark .col-10 {
  background-color: #444;
}

body.dark .col-11 {
  background-color: #444;
}

body.dark .col-12 {
  background-color: #444;
}

body.dark header {
  background-color: #000000;
}

body.dark header nav a:hover {
  color: #f5f5f5;
}

body.dark [class^="outer-col-"] {
  background-color: #333333;
}

body.dark [class^="inner-col-"] {
  background-color: #333333;
}

body.dark .btn-primary {
  background-color: #0d0d0d;
  color: #c1c1c1;
}

body.dark .btn-secondary {
  background-color: white;
  color: #000000;
}

body.dark a {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

img {
  width: 100%;
}

header {
  background-color: #f5f5f5;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  max-width: 100%;
  width: 100%;
}

header .info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

header .info-bar .logo {
  height: 100px;
}

header .info-bar .top-info-panel .titles p {
  font-weight: 600;
}

header .info-bar .top-info-panel .content {
  padding-left: 10px;
}

header .nav-bar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  background-color: #000000;
}

header .nav-bar .nav-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-bar .nav-menu-box li {
  list-style-type: none;
}

header .nav-bar .nav-menu-box .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item .nav-submenu {
  display: none;
}

header .nav-bar .nav-menu-box .nav-utilities-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .search-btn {
  height: 24px;
  width: 24px;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .language-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #f5f5f5;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .language-support a {
  width: 18px;
  height: 22px;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 720px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero-info {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .hero-info .hero-info-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 761px;
  height: 389px;
  margin-bottom: 104px;
}

.hero-section .hero-info .hero-info-panel h1 {
  font-size: 65px;
  color: #f5f5f5;
}

.hero-section .hero-info .hero-info-panel .ticket-button {
  width: 401px;
  height: 80px;
  background-color: #b89767;
  color: #f5f5f5;
  border-style: none;
  font-size: 30px;
}

.hero-section .hero-info .covid-button {
  width: 260px;
  padding: 22px 0px;
  margin-bottom: 140px;
  font-size: 24px;
  border-color: #b89767;
  border-style: dashed;
  color: #b89767;
  background-color: #00000000;
}

.exhibition-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 835px;
  background-color: #000000;
  padding-bottom: 104px;
}

.exhibition-section .exhibition-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 101px;
  padding-bottom: 50px;
}

.exhibition-section .exhibition-header .view-all-exhibitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #b89767;
}

.exhibition-section .exhibition-header .view-all-exhibitions img {
  width: 14.23px;
  height: 23.04px;
}

.exhibition-section .exhibition-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 536px;
}

.exhibition-section .exhibition-main-container .exhibition-container1 {
  height: 520px;
  width: 520px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/exhibition_1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/exhibition_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-section .exhibition-main-container .exhibition-container2 {
  height: 520px;
  width: 520px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/exhibition_2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/exhibition_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-section .exhibition-main-container .exhibition-container3 {
  height: 520px;
  width: 520px;
  background: url("/images/exhibition_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.kubeflex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 808px;
  background-color: #f5f5f5;
}

.kubeflex-section .kubeflex-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kubeflex-section .kubeflex-main-container img {
  width: 802px;
  height: 600px;
}

.kubeflex-section .kubeflex-main-container .kubeflex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kubeflex-section .kubeflex-main-container .kubeflex-content h1 {
  font-size: 22px;
  font-weight: 600;
}

.kubeflex-section .kubeflex-main-container .kubeflex-content span {
  color: #b89767;
}

.kubeflex-section .kubeflex-main-container .kubeflex-content p {
  font-size: 15px;
  padding: 5px 0;
  font-weight: 500;
}

.kubeflex-section .kubeflex-main-container .kubeflex-content .kubeflex-button {
  border: solid 1px #b89767;
  width: 164px;
  height: 40px;
  color: #b89767;
  font-size: 15px;
}

.m-1 {
  margin: calc(1px * 4);
}

.mx-1 {
  margin: 0 calc(1px * 4);
}

.my-1 {
  margin: calc(1px * 4) 0;
}

.p-1 {
  padding: calc(1px * 4);
}

.px-1 {
  padding: 0 calc(1px * 4);
}

.py-1 {
  padding: calc(1px * 4) 0;
}

.g-1 {
  gap: calc(1px * 4) !important;
}

.m-2 {
  margin: calc(2px * 4);
}

.mx-2 {
  margin: 0 calc(2px * 4);
}

.my-2 {
  margin: calc(2px * 4) 0;
}

.p-2 {
  padding: calc(2px * 4);
}

.px-2 {
  padding: 0 calc(2px * 4);
}

.py-2 {
  padding: calc(2px * 4) 0;
}

.g-2 {
  gap: calc(2px * 4) !important;
}

.m-3 {
  margin: calc(3px * 4);
}

.mx-3 {
  margin: 0 calc(3px * 4);
}

.my-3 {
  margin: calc(3px * 4) 0;
}

.p-3 {
  padding: calc(3px * 4);
}

.px-3 {
  padding: 0 calc(3px * 4);
}

.py-3 {
  padding: calc(3px * 4) 0;
}

.g-3 {
  gap: calc(3px * 4) !important;
}

.m-4 {
  margin: calc(4px * 4);
}

.mx-4 {
  margin: 0 calc(4px * 4);
}

.my-4 {
  margin: calc(4px * 4) 0;
}

.p-4 {
  padding: calc(4px * 4);
}

.px-4 {
  padding: 0 calc(4px * 4);
}

.py-4 {
  padding: calc(4px * 4) 0;
}

.g-4 {
  gap: calc(4px * 4) !important;
}

.m-5 {
  margin: calc(5px * 4);
}

.mx-5 {
  margin: 0 calc(5px * 4);
}

.my-5 {
  margin: calc(5px * 4) 0;
}

.p-5 {
  padding: calc(5px * 4);
}

.px-5 {
  padding: 0 calc(5px * 4);
}

.py-5 {
  padding: calc(5px * 4) 0;
}

.g-5 {
  gap: calc(5px * 4) !important;
}

body.dark .btn-primary, body.dark .btn-secondary, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: 1px solid;
}

body.dark .btn-primary:hover, body.dark .btn-secondary:hover, .btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: white;
  color: #000000;
}

.btn-secondary {
  background-color: #000000;
  color: #f5f5f5;
}

@media (max-width: 640px) {
  .outer-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */