@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'config';
@import 'typography'; // Heeeeyyy, im the typography, and also - luuucy im hooommmee!
@import 'colors'; // just to be like da cool kids
@import 'tickets-style';
@import 'footer';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; 
}

body {
  color: $secondary-color ;
  background-color: $light-color;
  font-family: $font-stack;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  @import 'dark'; // For dark-mode changes, go to _dark.scss
  min-width: 320px;
}

a {
  text-decoration: none;
  color: $primary-color;
}


img {
    width: 100%;
  }

@mixin box-container-background {    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.burgermenu{
    display: none;
}
.top-info-panel-language{
    display: none;
}
.mobile-logo{
    display: none;
}
.btn-mobile-covid{
    display: none;
}

header {
    background-color: $primary-color;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $grid-gutter;
    max-width: $width-type; // Change for full width or a set width -> in config file
    width: $width-type;
    .info-bar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
      .logo-container{
          height: 120px;
      .logo{
          height: 120px;
          max-width: 330px;
          a{
              display: flex;
          }
          @-moz-document url-prefix() {
            width: 300px;
            a{
                width:100%
            }
          }
      }
    }
      .top-info-panel {
          display: flex;
          justify-content: flex-end;
          .titles{
              p{
                  font-weight: 600;
              }
          }
          .content {
            padding-left: 10px;
          }
      }
  }
  
  .nav-bar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: $secondary-color;    
    .nav-menu-box{
        li{
            list-style-type: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-menu{    
            display: flex;   
            justify-content: space-between;
            width: fit-content;
            
        .nav-menu-item {
            position: relative;
            a {
                display: block;
                padding: 10px;
              } 
            .nav-submenu {
                display: none;
                .nav-submenu-item {
                    padding-top: 10px;
                    padding-bottom: 2px;
                }
            }
            &:hover{
                .nav-submenu{
                    top: 40px;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: max-content;
                    list-style-type: none;  
                    position: absolute;
                    background-color: $secondary-color; 
                    
                }
            }
        }
        }   
        .nav-utilities-panel {
            display: flex;
            justify-content: flex-end;
            align-items: center;           
            .search-btn{
                display: flex;
                justify-self: flex-end;
                height: 24px;
                width: 24px;
            }
            .language-support{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 600;
                color: $primary-color;
                width: fit-content;
                a{
                    width: 18px;
                    height: 22px;      
                }
            }
        }
    }
  }
}
.hero-section{
    display: flex;
    position: relative;
    justify-content: center;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;    
    .hero-info{        
        align-items: flex-end;
        justify-content: space-between;
        video{
            position: absolute;
            left: 0;
            top: 0;
            height: 75vh;
            width: 100%;
            z-index: -5542542;
            object-fit: cover;
            filter: brightness(50%);
        }
        .hero-info-panel{
            display: flex;
            z-index: -5;
            flex-direction: column;
            justify-content: flex-end;
            max-width: 761px;
            height: 374px;
            margin-bottom: 180px;
            h1{
                font-size: 60px;
                color: $primary-color;
            }
        }
    }
}
#exhibition-header {
    color:$primary-color;
    font-size: 32px;
}
.box-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 800px;
    min-width: 32%;
    .box-info {
        background-color: #03030355;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 24px;
        height: 96px;
        color: $primary-color;
        h1{
            font-size: 24px;
            font-weight: 500;
        }
    }
}
    
#exhibition-container1{
    background: url("/images/exhibition_1.jpg");    
    @include box-container-background();
}
#exhibition-container2{        
    background: url("/images/exhibition_2.jpg");
    @include box-container-background();
}
#exhibition-container3{        
    background: url("/images/exhibition_3.jpg");
    @include box-container-background();
}
#activity-container1{
    background: url("/images/activity_1.jpg");
    @include box-container-background();
}
#activity-container2{        
    background: url("/images/activity_2.jpg");
    @include box-container-background();
}
#activity-container3{        
    background: url("/images/activity_3.jpg");
    @include box-container-background();
}

.section-multiple-image {    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 835px;
    background-color: $secondary-color;    
    padding-bottom: 104px;
    .box-header{    
        display: flex;
        height:32px;
        align-items: center;
        justify-content: space-between;
        padding-top: 101px;
        padding-bottom: 50px;
        h1{
            color:$primary-color;
        font-size: 32px;
        }
        .view-all{
            display: flex;
            align-items: center;
            p {
                font-size: 24px;
                color: $tertiary-color;   
                padding-right: 10px;             
            }
            img{
                width: 14.23px;
                height: 23.04px;
            }
        }
    }
    .main-container{
        display: flex;
        justify-content: space-between;
        min-height: 536px;   
        max-height: 750px;   
        
    }
}
.section-single-image{
    display: flex;
    justify-content: center;
    height: 704px;
    background-color: $primary-color;
    .main-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            min-height: 500px;
            max-height: 650px;
            object-fit: cover;
            background-position: center;
        }
        .row-content{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 32px;
                font-weight: 600;
            }
            span{
                color: $tertiary-color;
            }
            p{
                padding-bottom: 5px;
                font-weight: 500;
            }
        }
    }
}
.footer-section{
    display: flex;
    height: 361px;
    justify-content: center;
    align-items: center;
    width: $full-width;
    background: $secondary-color;
    color: $primary-color;
}
@import 'utilities';
@import 'buttons';
@import 'tablet';
@import 'mobile';

