@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.outer-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.primary-color {
  background-color: #f5f5f5;
}

.secondary-color {
  background-color: #000000;
}

.tertiary-color {
  background-color: #b89767;
}

.accent-color {
  background-color: #2de9e6;
}

.error-color {
  background-color: #ff7011;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  color: #000000;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark {
  background-color: #000000;
  color: #c1c1c1;
}

body.dark .col-1 {
  background-color: #444;
}

body.dark .col-2 {
  background-color: #444;
}

body.dark .col-3 {
  background-color: #444;
}

body.dark .col-4 {
  background-color: #444;
}

body.dark .col-5 {
  background-color: #444;
}

body.dark .col-6 {
  background-color: #444;
}

body.dark .col-7 {
  background-color: #444;
}

body.dark .col-8 {
  background-color: #444;
}

body.dark .col-9 {
  background-color: #444;
}

body.dark .col-10 {
  background-color: #444;
}

body.dark .col-11 {
  background-color: #444;
}

body.dark .col-12 {
  background-color: #444;
}

body.dark header {
  background-color: #000000;
}

body.dark header nav a:hover {
  color: #f5f5f5;
}

body.dark [class^="outer-col-"] {
  background-color: #333333;
}

body.dark [class^="inner-col-"] {
  background-color: #333333;
}

body.dark .btn-primary {
  background-color: #0d0d0d;
  color: #c1c1c1;
}

body.dark .btn-secondary {
  background-color: white;
  color: #000000;
}

body.dark a {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

img {
  width: 100%;
}

.burgermenu {
  display: none;
}

.top-info-panel-language {
  display: none;
}

.mobile-logo {
  display: none;
}

.btn-mobile-covid {
  display: none;
}

header {
  background-color: #f5f5f5;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  max-width: 100%;
  width: 100%;
}

header .info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

header .info-bar .logo {
  height: 120px;
  max-width: 330px;
}

header .info-bar .top-info-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .info-bar .top-info-panel .titles p {
  font-weight: 600;
}

header .info-bar .top-info-panel .content {
  padding-left: 10px;
}

header .nav-bar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  background-color: #000000;
}

header .nav-bar .nav-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-bar .nav-menu-box li {
  list-style-type: none;
}

header .nav-bar .nav-menu-box .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item {
  position: relative;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item a {
  display: block;
  padding: 10px;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item .nav-submenu {
  display: none;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item .nav-submenu .nav-submenu-item {
  padding-top: 10px;
  padding-bottom: 2px;
}

header .nav-bar .nav-menu-box .nav-menu .nav-menu-item:hover .nav-submenu {
  z-index: 5;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style-type: none;
  position: absolute;
  background-color: #000000;
}

header .nav-bar .nav-menu-box .nav-utilities-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  height: 24px;
  width: 24px;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .language-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 600;
  color: #f5f5f5;
}

header .nav-bar .nav-menu-box .nav-utilities-panel .language-support a {
  width: 18px;
  height: 22px;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero-info {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .hero-info video {
  position: absolute;
  left: 0;
  top: 0;
  height: 75vh;
  width: 100vw;
  z-index: -5542542;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.hero-section .hero-info .hero-info-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 761px;
  height: 374px;
  margin-bottom: 104px;
}

.hero-section .hero-info .hero-info-panel h1 {
  font-size: 65px;
  color: #f5f5f5;
}

#exhibition-header {
  color: #f5f5f5;
  font-size: 32px;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 520px;
  width: 520px;
}

.box-container .box-info {
  background-color: #03030355;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  height: 96px;
  color: #f5f5f5;
}

.box-container .box-info h1 {
  font-size: 24px;
  font-weight: 500;
}

#exhibition-container1 {
  background: url("/images/exhibition_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#exhibition-container2 {
  background: url("/images/exhibition_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#exhibition-container3 {
  background: url("/images/exhibition_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#activity-container1 {
  background: url("/images/activity_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#activity-container2 {
  background: url("/images/activity_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#activity-container3 {
  background: url("/images/activity_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-multiple-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 835px;
  background-color: #000000;
  padding-bottom: 104px;
}

.section-multiple-image .box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 101px;
  padding-bottom: 50px;
}

.section-multiple-image .box-header h1 {
  color: #f5f5f5;
  font-size: 32px;
}

.section-multiple-image .box-header .view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-multiple-image .box-header .view-all p {
  font-size: 24px;
  color: #b89767;
  padding-right: 10px;
}

.section-multiple-image .box-header .view-all img {
  width: 14.23px;
  height: 23.04px;
}

.section-multiple-image .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 536px;
}

.section-single-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 704px;
  background-color: #f5f5f5;
}

.section-single-image .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-single-image .main-container img {
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.section-single-image .main-container .row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-single-image .main-container .row-content h1 {
  font-size: 32px;
  font-weight: 600;
}

.section-single-image .main-container .row-content span {
  color: #b89767;
}

.section-single-image .main-container .row-content p {
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 500;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 361px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

.m-1 {
  margin: calc(1px * 4);
}

.mx-1 {
  margin: 0 calc(1px * 4);
}

.my-1 {
  margin: calc(1px * 4) 0;
}

.p-1 {
  padding: calc(1px * 4);
}

.px-1 {
  padding: 0 calc(1px * 4);
}

.py-1 {
  padding: calc(1px * 4) 0;
}

.g-1 {
  gap: calc(1px * 4) !important;
}

.m-2 {
  margin: calc(2px * 4);
}

.mx-2 {
  margin: 0 calc(2px * 4);
}

.my-2 {
  margin: calc(2px * 4) 0;
}

.p-2 {
  padding: calc(2px * 4);
}

.px-2 {
  padding: 0 calc(2px * 4);
}

.py-2 {
  padding: calc(2px * 4) 0;
}

.g-2 {
  gap: calc(2px * 4) !important;
}

.m-3 {
  margin: calc(3px * 4);
}

.mx-3 {
  margin: 0 calc(3px * 4);
}

.my-3 {
  margin: calc(3px * 4) 0;
}

.p-3 {
  padding: calc(3px * 4);
}

.px-3 {
  padding: 0 calc(3px * 4);
}

.py-3 {
  padding: calc(3px * 4) 0;
}

.g-3 {
  gap: calc(3px * 4) !important;
}

.m-4 {
  margin: calc(4px * 4);
}

.mx-4 {
  margin: 0 calc(4px * 4);
}

.my-4 {
  margin: calc(4px * 4) 0;
}

.p-4 {
  padding: calc(4px * 4);
}

.px-4 {
  padding: 0 calc(4px * 4);
}

.py-4 {
  padding: calc(4px * 4) 0;
}

.g-4 {
  gap: calc(4px * 4) !important;
}

.m-5 {
  margin: calc(5px * 4);
}

.mx-5 {
  margin: 0 calc(5px * 4);
}

.my-5 {
  margin: calc(5px * 4) 0;
}

.p-5 {
  padding: calc(5px * 4);
}

.px-5 {
  padding: 0 calc(5px * 4);
}

.py-5 {
  padding: calc(5px * 4) 0;
}

.g-5 {
  gap: calc(5px * 4) !important;
}

body.dark .btn-primary, body.dark .btn-secondary, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: 1px solid;
}

body.dark .btn-primary:hover, body.dark .btn-secondary:hover, .btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: white;
  color: #000000;
}

.btn-secondary {
  background-color: #000000;
  color: #f5f5f5;
}

.btn-ticket {
  width: 401px;
  min-height: 80px;
  background-color: #b89767;
  color: #f5f5f5;
  border-style: none;
  font-size: 30px;
}

.btn-covid {
  min-width: 260px;
  padding: 22px 0px;
  margin-bottom: 104px;
  font-size: 24px;
  border-color: #b89767;
  border-style: dashed;
  color: #b89767;
  background-color: #00000000;
}

.btn-mobile-covid {
  width: 80vw;
  height: 50px;
  padding: 10px 0px;
  margin-bottom: 0px;
  font-size: 24px;
  border-color: #b89767;
  border-style: dashed;
  color: #b89767;
  background-color: #00000000;
}

.btn-kubeflex {
  border: solid 1px #b89767;
  width: 164px;
  height: 40px;
  color: #b89767;
  font-size: 15px;
}

@media (max-width: 1024px) {
  .hero-section .hero-info .hero-info-panel h1 {
    font-size: 55px;
  }
  .hero-section .btn-covid {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .outer-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body {
    width: 100%;
    max-width: 100%;
    background-color: #000000;
  }
  .box-container {
    width: 100vw;
  }
  header {
    background-color: #000000;
    height: 56px;
  }
  header .info-bar {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .info-bar .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
  }
  header .info-bar .logo-container .logo {
    display: none;
  }
  header .info-bar .logo-container .burgermenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 27px;
    height: 18px;
  }
  header .info-bar .logo-container .mobile-logo {
    width: 30px;
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .info-bar .logo-container .mobile-logo img {
    width: 40px;
  }
  header .info-bar .top-info-panel {
    width: 40px;
  }
  header .info-bar .top-info-panel .titles {
    display: none;
  }
  header .info-bar .top-info-panel .content {
    display: none;
  }
  header .info-bar .top-info-panel .top-info-panel-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #f5f5f5;
  }
  header .info-bar .top-info-panel img {
    height: 9px;
    width: 18px;
    margin-bottom: 5px;
  }
  header .nav-bar {
    display: none;
  }
  header .nav-menu-item {
    display: none;
  }
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-section .hero-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }
  .hero-section .hero-info video {
    position: static;
    height: 280px;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  .hero-section .hero-info .btn-covid {
    display: none;
  }
  .hero-section .hero-info .btn-mobile-covid {
    display: inline-block;
  }
  .hero-section .hero-info .hero-info-panel {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    width: 80vw;
  }
  .hero-section .hero-info .hero-info-panel h1 {
    font-size: 40px;
  }
  .hero-section .hero-info .hero-info-panel .btn-ticket {
    min-height: 64px;
    width: 80vw;
  }
  .box-container {
    height: 200px;
    width: 80vw;
  }
  .section-multiple-image {
    height: 800px;
    padding-bottom: 20px;
  }
  .section-multiple-image .main-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-multiple-image .main-container .box-header {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .section-multiple-image .main-container .box-header .view-all {
    display: none;
  }
  .section-single-image .main-container {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .section-single-image .main-container img {
    min-height: 250px;
  }
  .section-single-image .main-container .row-content {
    padding: 15px;
  }
  .section-single-image .main-container .row-content h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .section-single-image .main-container .row-content p {
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */