@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'config';
@import 'typography'; // Heeeeyyy, im the typography, and also - luuucy im hooommmee!
@import 'colors'; // just to be like da cool kids


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; 
}

body {
  color: $secondary-color ;
  background-color: $light-color;
  font-family: $font-stack;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  @import 'dark'; // For dark-mode changes, go to _dark.scss
}

a {
  text-decoration: none;
  color: $primary-color;
}


img {
    width: 100%;
  }


header {
    background-color: $primary-color;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $grid-gutter;
    max-width: $width-type; // Change for full width or a set width -> in config file
    width: $width-type;
    .info-bar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
      .logo{
          height: 100px;
      }
      .top-info-panel {
          .titles{
              p{
                  font-weight: 600;
              }
          }
          .content {
            padding-left: 10px;
          }
      }
  }
  
  .nav-bar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: $secondary-color;    
    .nav-menu-box{
        li{
            list-style-type: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-menu{    
            display: flex;   
            justify-content: space-between;
            
        .nav-menu-item {
            position: relative;
            a {
                display: block;
                padding: 10px;
              } 
            .nav-submenu {
                display: none;
                .nav-submenu-item {
                    padding-top: 10px;
                    padding-bottom: 2px;
                    width: 100vw;
                }
            }
            &:hover{
                .nav-submenu{
                    z-index: 5;
                    top: 40px;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: max-content;
                    list-style-type: none;  
                    position: absolute;
                    background-color: $secondary-color; 
                    
                }
            }
        }
        }   
        .nav-utilities-panel {
            display: flex;
            justify-content: flex-end;
            align-items: center;           
            .search-btn{
                display: flex;
                justify-self: flex-end;
                height: 24px;
                width: 24px;
            }
            .language-support{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 600;
                color: $primary-color;
                a{
                    width: 18px;
                    height: 22px;      
                }
            }
        }
    }
  }
}

.hero-section{
    display: flex;
    justify-content: center;
    height: 720px;
    width: 100%;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),
      url("/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .hero-info{
        align-items: flex-end;
        justify-content: space-between;
        .hero-info-panel{
            display: flex;
            flex-direction: column;
            width: 761px;
            height: 389px;
            margin-bottom: 104px;
            h1{
                font-size: 65px;
                color: $primary-color;
            }
            .ticket-button{
                width: 401px;
                height: 80px;
                background-color: $tertiary-color;
                color: $primary-color;
                border-style: none;
                font-size: 30px;
            }
        }
        .covid-button{
            width: 260px;
            padding: 22px 0px;
            margin-bottom: 140px;
            font-size: 24px;
            border-color: $tertiary-color;
            border-style: dashed;
            color: $tertiary-color;
            background-color: #00000000;
        }
    }
}
#exhibition-header {
    color:$primary-color;
    font-size: 32px;
}
.exhibition-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 835px;
    background-color: $secondary-color;    
    padding-bottom: 104px;
    .exhibition-header{
        display: flex;
        height:32px;
        align-items: center;
        justify-content: space-between;
        padding-top: 101px;
        padding-bottom: 50px;
        .view-all-exhibitions{
            display: flex;
            align-items: center;
            p {
                font-size: 24px;
                color: $tertiary-color;   
                padding-right: 10px;             
            }
            img{
                width: 14.23px;
                height: 23.04px;
            }
        }
    }
    .exhibition-main-container{
        display: flex;
        justify-content: space-between;
        height: 536px;
    .exhibition-container1{
        animation: moveitup 5s;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #ffffff10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .exhibition-container2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #ffffff10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .exhibition-container3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #ffffff10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}
}

.kubeflex-section{
    display: flex;
    justify-content: center;
    height: 808px;
    background-color: $primary-color;
    .kubeflex-main-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 802px;
            height: 600px;
        }
        .kubeflex-content{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 32px;
                font-weight: 600;
            }
            span{
                color: $tertiary-color;
            }
            p{
                font-size: 15px;
                padding-bottom: 5px;
                font-weight: 500;
            }
            .kubeflex-button {
                border: solid 1px #b89767;
                width: 164px;
                height: 40px;
                color: $tertiary-color;
                font-size: 15px;
            }
        }
    }
}
#exhibition-header {
    color:$primary-color;
    font-size: 32px;
}
.exhibition-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 835px;
    background-color: $secondary-color;    
    padding-bottom: 104px;
    .exhibition-header{
        display: flex;
        height:32px;
        align-items: center;
        justify-content: space-between;
        padding-top: 101px;
        padding-bottom: 50px;
        .view-all-exhibitions{
            display: flex;
            align-items: center;
            p {
                font-size: 24px;
                color: $tertiary-color;   
                padding-right: 10px;             
            }
            img{
                width: 14.23px;
                height: 23.04px;
            }
        }
    }
    .exhibition-main-container{
        display: flex;
        justify-content: space-between;
        height: 536px;
    .exhibition-container1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .exhibition-container2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .exhibition-container3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/exhibition_3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .exhibition-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}
}
#activity-header {
    color:$primary-color;
    font-size: 32px;
}
.activity-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 835px;
    background-color: $secondary-color;    
    padding-bottom: 104px;
    .activity-header{
        display: flex;
        height:32px;
        align-items: center;
        justify-content: space-between;
        padding-top: 101px;
        padding-bottom: 50px;
        .view-all-activities{
            display: flex;
            align-items: center;
            p {
                font-size: 24px;
                color: $tertiary-color;   
                padding-right: 10px;             
            }
            img{
                width: 14.23px;
                height: 23.04px;
            }
        }
    }
    .activity-main-container{
        display: flex;
        justify-content: space-between;
        height: 536px;
    .activity-container1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/activity_1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .activity-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .activity-container2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/activity_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .activity-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .activity-container3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        width: 520px;
        background: url("/images/activity_3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .activity-info {
            background-color: #00000055;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 24px;
            height: 96px;
            color: $primary-color;
            h1{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}
}
.cafe-section{
    display: flex;
    justify-content: center;
    height: 704px;
    background-color: $primary-color;
    .cafe-main-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 950px;
            height: 600px;
        }
        .cafe-content{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 32px;
                font-weight: 600;
            }
            span{
                color: $tertiary-color;
            }
            p{
                font-size: 15px;
                padding-bottom: 5px;
                font-weight: 500;
            }
            .kubeflex-button {
                border: solid 1px #b89767;
                width: 164px;
                height: 40px;
                color: $tertiary-color;
                font-size: 15px;
            }
        }
    }
}

.shop-section{
    display: flex;
    justify-content: center;
    height: 704px;
    background-color: $primary-color;
    .shop-main-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 50px;
        img{
            width: 950px;
            height: 600px;
            }
        .shop-content{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 32px;
                font-weight: 600;
            }
            span{
                color: $tertiary-color;
            }
            p{
                font-size: 15px;
                padding-bottom: 5px;
                font-weight: 500;
            }
            .kubeflex-button {
                border: solid 1px #b89767;
                width: 164px;
                height: 40px;
                color: $tertiary-color;
                font-size: 15px;
            }
        }
    }
}

.footer-section{
    display: flex;
    height: 361px;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
}
@import 'utilities';
@import 'buttons';
@import 'mobile';
