@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'config';
@import 'typography'; // Heeeeyyy, im the typography, and also - luuucy im hooommmee!
@import 'colors'; // just to be like da cool kids


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; 
}

body {
  color: $secondary-color ;
  background-color: $light-color;
  font-family: $font-stack;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  @import 'dark'; // For dark-mode changes, go to _dark.scss
}

a {
  text-decoration: none;
  color: $primary-color;
}


img {
    width: 100%;
  }

header {
    background-color: $primary-color;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $grid-gutter;
    max-width: $width-type; // Change for full width or a set width -> in config file
    width: $width-type;
    .info-bar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
      .logo{
          height: 100px;
      }
      .top-info-panel {
          .titles{
              p{
                  font-weight: 600;
              }
          }
          .content {
            padding-left: 10px;
          }
      }
  }
  
  .nav-bar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: $secondary-color;    
    .nav-menu-box{
        li{
            list-style-type: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-menu{    
            display: flex;   
            justify-content: space-between;
            
        .nav-menu-item {
            .nav-submenu {
                display: none;
            }
        }
        }   
        .nav-utilities-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;           
            .search-btn{
                height: 24px;
                width: 24px;
            }
            .language-support{
                display: flex;
                align-items: center;
                font-weight: 600;
                color: $primary-color;
                a{
                    width: 18px;
                    height: 22px;      
                }
            }
        }
    }
  }
}

.hero-section{
    display: flex;
    justify-content: center;
    height: 720px;
    width: 100%;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),
      url("/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .hero-info{
        align-items: flex-end;
        justify-content: space-between;
        .hero-info-panel{
            display: flex;
            flex-direction: column;
            width: 761px;
            height: 389px;
            margin-bottom: 104px;
            h1{
                font-size: 65px;
                color: $primary-color;
            }
            .ticket-button{
                width: 401px;
                height: 80px;
                background-color: $tertiary-color;
                color: $primary-color;
                border-style: none;
                font-size: 30px;
            }
        }
        .covid-button{
            width: 260px;
            padding: 22px 0px;
            margin-bottom: 140px;
            font-size: 24px;
            border-color: $tertiary-color;
            border-style: dashed;
            color: $tertiary-color;
            background-color: #00000000;
        }
    }
}

.exhibition-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 835px;
    background-color: $secondary-color;
    .exhibition-header{
        display: flex;
        height:20px;
        justify-content: space-between;
        padding-top: 101px;
        padding-bottom: 50px;
        .view-all-exhibitions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            color: $tertiary-color;
            img{
                width: 14.23px;
                height: 23.04px;
            }
        }
    }
    .exhibition-main-container{
        display: flex;
        justify-content: space-between;
        height: 536px;
        padding-bottom: 104px;
    .exhibition-container1{
        height: 515px;
        width: 515px;
        padding-bottom: 104px;
        background:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url("/images/exhibition_1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .exhibition-container2{
        height: 100%;
        width: 515px;
        padding-bottom: 104px;
        background:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url("/images/exhibition_2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .exhibition-container3{
        height: 100%;
        width: 515px;
        padding-bottom: 104px;
        background: url("/images/exhibition_3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
}



@import 'utilities';
@import 'buttons';
@import 'mobile';
